<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="MailLogin" value="[EMAIL]" />
    <add key="MailPassword" value="[MAIL PASSWORD ENCRYPT VERSION]" />
    <add key="MailServer" value="[MAIL SERVER]" />
    <add key="ErrorMailList" value="[MAIL LIST FOR ERROR LOGS]" />
    <add key="ContactMailList" value="[MAIL LIST FOR CONTACT]" />
    <add key="FeedBackMailList" value="[MAIL LIST FOR FEEDBACK]" />
    <add key="FileEncryptKey" value="othoscnshBWWk6/DZpwhmQ==" />
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=PC-IT-002\SQLEXPRESS;Initial Catalog=CES;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="350" requestPathInvalidCharacters="" executionTimeout="900" maxRequestLength="50000" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="Auto" uiCulture="Auto" />
    <pages validateRequest="false" autoEventWireup="true" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0" />
    <authentication mode="Forms">
      <forms timeout="10080" />
    </authentication>
  </system.web>
</configuration>